<launch>
<param name="area_description"
       command="$(find xacro)/xacro.py '$(find world_model_description)/defs/area.urdf.xml'"/>  
 <node pkg="tf" type="static_transform_publisher" name="area_link_broadcaster" 
    args="-3.45 -4.35 0 -3.141 0 0 /map /area_link 200">
  </node>
<!--
  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
    name="area_state_publisher" output="screen">
    <param name="tf_prefix" value="/"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="area_description" />
  </node>-->
</launch>