  <robot name="ground_rover">
  <link name="base_link">
<!-- name="body" -->
    <visual>
      <origin rpy="0 0 0" xyz="0.15 0 1.00"/>
      <geometry>
        <mesh filename="package://alpine_scenario/models/bluebotics.dae"/>
      </geometry>
    </visual>
    <collision>
     <geometry>
       <mesh filename="package://alpine_scenario/models/bluebotics.dae"/>
     </geometry>
   <origin rpy="1.4 0 0" xyz="0 0 0" />
    </collision>
   <inertial>
     <mass value="1" />
	<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
   </inertial>
   </link>

 <gazebo>
     <static>true</static>
   </gazebo>

</robot>