<?xml version="1.0"?>
  <robot name="tree1">

<link name="base_link">
     <visual>
       <!-- <origin xyz="-4 -3 0"/> -->
        <geometry>
        <mesh filename="package://alpine_scenario/models/tree1.dae"/>
        </geometry>
     </visual> 
 <collision>
      <!--<origin xyz="-4 -3 0"/> -->     
       <geometry>
       <box size="1 1 2"/>
       </geometry>
 </collision>
<collision>
        <origin xyz="0 0 2.5"/>      
       <geometry>    
        <sphere radius="2"/>
       </geometry>
</collision>
 <inertial>
       <mass value="1" />
	<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
       </inertial>
</link>
<!--
<link name="base_link">
     <visual>
        <origin xyz="-4 -3 0"/>
        <geometry>
        <mesh filename="package://alpine_scenario/models/tree1.dae"/>
        </geometry>
     </visual> 
</link>
      <link name="box_link">
       <visual>
   
       <geometry>
        <box size="1 1 2"/>
      </geometry>
    </visual>  
     <inertial>
       <mass value="1" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
       </inertial>
    </link>

  <link name="sphere_link">
   <visual>
        <geometry>
        <sphere radius="2"/>
      </geometry>
    </visual> 
 <inertial>
     <mass value="1" />
	<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
   </inertial>

    </link>
<joint name="base_and_box" type="fixed">
    <origin xyz="-4 -3 0"/>
    <parent link="base_link"/>
    <child link="box_link"/>
</joint>


 <joint name="box_and_sphere" type="fixed">
    <origin xyz="0 0 2.8"/>
    <parent link="box_link"/>
    <child link="sphere_link"/>
</joint>
-->
   <gazebo>
     <static>true</static>
   </gazebo>

</robot>
